<div ng-controller="signupCtrl">

	<h1>This is signup page</h1>
	
	<div class="col-md-6 col-md-offset-2">
		
		<form ng-submit="createUser(signupData)">
			
			<div class="form-group">
				<label for="firstname">First Name</label>
				<input type="text" class="form-control" id="firstname" ng-model="signupData.firstname"/>
			</div>
			
			<div class="form-group">
				<label for="lastname">Last Name</label>
				<input type="text" class="form-control" id="lastname" ng-model="signupData.lastname"/>
			</div>
			
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" ng-model="signupData.email"/>
			</div>
			
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" ng-model="signupData.password"/>
			</div>
			
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="submit" />
			</div>
		</form>
		
	</div>

</div>