<h1>This is user home page</h1>

<div>
		<!-- ROW 1 -->
        <div class="row">
        	
        	<!-- youtube video -->
        	<div class="col-md-8">
	        	<div class="embed-responsive embed-responsive-16by9">
		            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/kdUbPvpQDhE"></iframe>
		        </div>
        	</div>
        	
        	<!-- Latest News -->
        	<div class="col-md-4">
        		<p>Latest News</p>
	        	<div class="list-group"> 
	        		
	        		<a href="#/post/{{post.pid}}" class="list-group-item" ng-repeat="post in latestPosts"> 
	        			<h4 class="list-group-item-heading"> {{ post.subject }} </h4> 
	        			<p class="list-group-item-text"> {{ post.post_content }}
	        			
	        			</p> 
	        		</a>
	        		
	        	</div>
	        </div>
            
        </div>
        
        <!-- ROW 2 -->
        <div class="row" style="margin-bottom:40px">
        
        	<div class="col-md-6" ng-repeat="post in sectionalPosts">
	        	<h3> {{ post.subject }} </h3>
	        	<p> {{ post.post_content }} </p>
        	</div>
        	
        </div>
        
        <!-- ROW 3 -->
        <div class="row">
        	<div class="col-md-8">
        	<p>
        	Lorem ipsum dolor sit amet, auctor quis vel mauris faucibus sapien, 
        	felis accumsan vestibulum id lobortis, at erat nec et vitae, nec purus et. 
        	Est feugiat penatibus praesent sit, praesent arcu cras mauris. Urna ut aliquam 
        	lorem aliquam justo a, nec tempor donec nulla eleifend mollis, hendrerit a eget 
        	ipsum scelerisque turpis amet. Felis augue ac nec natoque ullamcorper nulla. At eros
        	 laoreet viverra, nam in integer ut, eget donec erat ipsum blandit libero vivamus, li
        	 bero convallis donec elementum habitasse, rhoncus donec scelerisque eget nullam.
Justo nam curabitur condimentum, enim varius posuere vel, vel nec ullamcorper mauris adipiscing lib
ero pede, convallis auctor imperdiet, enim proin ut non. Nunc velit massa ac sed quas cubilia. Phasel
lus sed maecenas fusce per. Pharetra lectus, diam maecenas ligula integer vestibulum tellus, ut ac ac, volu
tpat rerum imperdiet ultrices accumsan a, vestibulum curae nisl. Lectus magna pede, quam pariatur placerat ut ut
 magna ante, ante placerat hendrerit eu mauris, rutrum eros ullamcorper. Libero imperdiet quisque luctus suspendi
 sse feugiat, porta mus ornare augue ultrices, nec pede, ac ligula magna, urna diam optio dui at dignissim aliquet.
  Dictum nec mauris sed quisque, amet in vehicula nonummy lacinia, eget iaculis felis adipiscing mauris sollicitud
  in. In praesent commodo lobortis et ut sem, veritatis vel.
Dictum at sit aliquam amet ultrices, sodales quis et molestie quisque, sem reprehenderit, interdum nostra 
quasi morbi non, primis a id elementum. Ante eu ultricies lorem orci sed in, fusce tempor amet turpis, sed dolor lacu
s praesent libero, hymenaeos velit wisi, ut diam mauris elit. Nullam quis, dolor pellentesque quis viverra vestibu
lum. Neque tristique est, placerat odio et nulla mauris morbi libero, elit justo lorem omnis nunc porttitor, commod
o amet at magna diam. Congue donec nunc, interdum consequat nec venenatis quis augue. Dis vulputate feugiat amet male
suada nunc, feugiat diam placerat integer integer sagittis, ratione interdum sapien neque.
				</p>
        	</div>
        	<div class="col-md-4">
        	<p>
        	Lorem ipsum dolor sit amet, auctor quis vel mauris faucibus sapien, 
        	felis accumsan vestibulum id lobortis, at erat nec et vitae, nec purus et. 
        	Est feugiat penatibus praesent sit, praesent arcu cras mauris. Urna ut aliquam 
        	lorem aliquam justo a, nec tempor donec nulla eleifend mollis, hendrerit a eget 
        	ipsum scelerisque turpis amet. Felis augue ac nec natoque ullamcorper nulla. At eros
        	 laoreet viverra, nam in integer ut, eget donec erat ipsum blandit libero vivamus, li
        	 bero convallis donec elementum habitasse, rhoncus donec scelerisque eget nullam.
Justo nam curabitur condimentum, enim varius posuere vel, vel nec ullamcorper mauris adipiscing lib
ero pede, convallis auctor imperdiet, enim proin ut non. Nunc velit massa ac sed quas cubilia. Phasel
lus sed maecenas fusce per. Pharetra lectus, diam maecenas ligula integer vestibulum tellus, ut ac ac, volu
tpat rerum imperdiet ultrices accumsan a, vestibulum curae nisl. Lectus magna pede, quam pariatur placerat ut ut
 magna ante, ante placerat hendrerit eu mauris, rutrum eros ullamcorper. Libero imperdiet quisque luctus suspendi
 sse feugiat, porta mus ornare augue ultrices, nec pede, ac ligula magna, urna diam optio dui at dignissim aliquet.
  Dictum nec mauris sed quisque, amet in vehicula nonummy lacinia, eget iaculis felis adipiscing mauris sollicitud
  in. In praesent commodo lobortis et ut sem, veritatis vel.
Dictum at sit aliquam amet ultrices, sodales quis et molestie quisque, sem reprehenderit, interdum nostra 
quasi morbi non, primis a id elementum. Ante eu ultricies lorem orci sed in, fusce tempor amet turpis, sed dolor lacu
s praesent libero, hymenaeos velit wisi, ut diam mauris elit. Nullam quis, dolor pellentesque quis viverra vestibu
lum. Neque tristique est, placerat odio et nulla mauris morbi libero, elit justo lorem omnis nunc porttitor, commod
o amet at magna diam. Congue donec nunc, interdum consequat nec venenatis quis augue. Dis vulputate feugiat amet male
suada nunc, feugiat diam placerat integer integer sagittis, ratione interdum sapien neque.
				</p>
        	</div>
            
        </div>
   
</div>