<div class="row">
	
	<!-- START -->
	<div class="col-md-8">
		
		<h1 class="newsboxlistheading" ng-if="!region">&#9830; Latest News</h1>
		<h1 class="newsboxlistheading" ng-if="region">&#9830; {{region}} News</h1>
		
		
		<div class="newsbox" ng-repeat="post in posts">
			<a href="#/post/{{post.pid}}"><h2>{{ post.subject }}</h2></a>
			
			<div>
				<img src="static/img/icons/user.png" alt="HTML5 Icon" style="width:16px;height:16px;margin-right:5px">
				{{ post.author }}
				&boxv; 
				<img src="static/img/icons/time.png" alt="HTML5 Icon" style="width:16px;height:16px;margin-right:5px">
				{{ post.date }}
				&boxv; 
				<img src="static/img/icons/comment.png" alt="HTML5 Icon" style="width:16px;height:16px;margin-right:5px">
				0 comments
				
				<div ng-if="post.uid == loggedUserId" class="pull-right">
					<a href="#/edit_post/{{post.pid}}"><p style="color: #3B9768">Edit this post</p></a>
				</div>
				
			</div>
				

			
			<p>{{ post.post_content }}</p>
		</div>
		
		<nav>
            <ul class="pager">
                <li><a href="{{paginationUrl}}{{previous}}">Previous</a></li>
                <li><a href="{{paginationUrl}}{{nextpage}}">Next</a></li>
            </ul>
        </nav>
	
	</div>
	
	<!-- END -->
	
	<!-- Latest News -->
        	<div class="col-md-4 latestnewsblock">
        		<h2><a href="#/latest_news">Latest News&raquo;</a></h2>
	        	<div class="list-group"> 
	        		
	        		<a href="#/post/{{post.pid}}" class="list-group-item" ng-repeat="post in latestPosts"> 
	        			<h4 class="list-group-item-heading"> {{ post.subject }} </h4> 
	        			<p class="list-group-item-text"> {{ post.post_content }} </p>
	        			
	        			<div class="row authorbar">
	        				<div class="col-md-6">
	        				
	        					<img src="static/img/icons/user.png" alt="HTML5 Icon" style="width:15px;height:15px;">
	        					{{ post.author }}
	        				</div>
	        				<div class="col-md-6">
	        					<img src="static/img/icons/time.png" alt="HTML5 Icon" style="width:15px;height:15px;">
	        					{{ post.date }}
	        				</div>
	        			</div>
	        		</a>
	        		
	        	</div>
	        </div>

</div>
