<div>
	<div class="row">
		<div class="col-md-8">
			<h1> {{post.subject}} </h1>

			<p>
				{{post.post_content}}
			</p>
		
		</div>
		
		
		
		<div class="col-md-4">
			<!-- Latest News -->
        	<div>
        		<h2 class="latestNewsTitle"><a href="#">Latest News&raquo;</a></h2>
	        	<div class="list-group"> 
	        		
	        		<a href="#/post/{{post.pid}}" class="list-group-item" ng-repeat="post in latestPosts"> 
	        			<h4 class="list-group-item-heading"> {{ post.subject }} </h4> 
	        			<p class="list-group-item-text"> {{ post.post_content }} </p>
	        			
	        			<div class="row authorbar">
	        				<div class="col-md-6">
	        				
	        					<img src="static/img/icons/user.png" alt="HTML5 Icon" style="width:15px;height:15px;">
	        					{{ post.author }}
	        				</div>
	        				<div class="col-md-6">
	        					<img src="static/img/icons/time.png" alt="HTML5 Icon" style="width:15px;height:15px;">
	        					{{ post.date }}
	        				</div>
	        			</div>
	        		</a>
	        		
	        	</div>
	        </div>
		
		
		</div>
	</div>

</div>