<div>
	<div class="row">
		<div class="col-md-8">
			<h1 style="font-size:40px;margin-top: 0px;"> {{post.subject}} </h1>
			
			<div style="font-size:14px; margin-bottom:10px">
				<img src="static/img/icons/user.png" alt="HTML5 Icon" style="width:16px;height:16px;margin-right:5px">{{post.author}} 
				&boxv; 
				<img src="static/img/icons/time.png" alt="HTML5 Icon" style="width:16px;height:16px;margin-right:5px">{{post.date}} 
				&boxv; 
				<img src="static/img/icons/comment.png" alt="HTML5 Icon" style="width:16px;height:16px;margin-right:5px">
				0 comments
			</div>

			<p style="font-size:17px">{{post.post_content}}</p>
		
		</div>
		
		
		<!-- Latest News -->
       	<div class="col-md-4 latestnewsblock">
       		<h2 class="latestNewsTitle"><a href="#/latest_news">Latest News&raquo;</a></h2>
        	<div class="list-group"> 
        		
        		<a href="#/post/{{post.pid}}" class="list-group-item" ng-repeat="post in latestPosts"> 
        			<h4 class="list-group-item-heading"> {{ post.subject }} </h4> 
        			<p class="list-group-item-text"> {{ post.post_content }} </p>
        			
        			<div class="row authorbar">
        				<div class="col-md-6">
        				
        					<img src="static/img/icons/user.png" alt="HTML5 Icon" style="width:15px;height:15px;">
        					{{ post.author }}
        				</div>
        				<div class="col-md-6">
        					<img src="static/img/icons/time.png" alt="HTML5 Icon" style="width:15px;height:15px;">
        					{{ post.date }}
        				</div>
        			</div>
        		</a>
        		
        	</div>
        </div>
		
	</div>

</div>